<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>文字列変換アプリ</title>
	<link rel="stylesheet" href="./css/style.css">

</head>

<body>
	<div class="container">
		<h1>文字列変換サービス (API Gatewa&SOAP通信)</h1>
		<form id="conversionForm">
			<div class="form-group">
				<label for="inputString">変換前文字列:</label>
				<input type="text" class="form-control" id="inputString" name="id" required>
				<button type="submit" class="btn btn-primary">変換</button>
			</div>
		</form>
		<div id="resultContainer" style="display:none;">
			<h4>変換結果:</h4>
			<p id="resultText"></p>
		</div>

		<div id="errorContainer" style="display:none;">
			<p id="errorText"></p>
		</div>
	</div>
	<script src="./js/api.js"></script>
</body>

</html>